<configuration>
  <system.webServer>

    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\Macrocenter\venv\Scripts\python.exe|C:\inetpub\wwwroot\Macrocenter\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <fastCgi>
      <application fullPath="C:\inetpub\wwwroot\Macrocenter\venv\Scripts\python.exe"
                   arguments="C:\inetpub\wwwroot\Macrocenter\venv\Lib\site-packages\wfastcgi.py">
        <environmentVariables>

          <environmentVariable name="WSGI_HANDLER" value="app.app" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\Macrocenter" />

        </environmentVariables>
      </application>
    </fastCgi>

  </system.webServer>
</configuration>
